body,
html {
    display: block;
    height: 100%;
    margin: 0;
}

body {
    color: black;
    background-color: white;
}

.da {
    color: red;
}

legend {
    margin-left: 50px;
}

label {
    margin-left: 100px;
}

label[for] {
    font-size: 1.25em;
}

form {
    margin-right: 100px;
    margin-left: 100px;
}

input[type="text"],
select {
    width: 80%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 80px;
}

input[type="number"],
select {
    width: 80%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 80px;
}

.dark-mode {
    background-color: rgb(51, 49, 58);
    color: rgb(212, 212, 212);
}

select {
    width: 80%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 80px;
}

input[type="radio"],
select {
    margin-left: 170px;
}

input[type="submit"],
select {
    width: 80%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 80px;
}

input[type="submit"] {
    width: 20%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20rem;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
    width: 100%;
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 0px;
    bottom: 0%;
    text-align: center;
    color: rgb(231, 231, 231);
    font-weight: 400;
    font-size: 40px;
    padding: 20px;
    background-color: rgb(72, 61, 139, 0.8);
}

.meniu {
    font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
    position: fixed;
    top: 0%;
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 450;
    left: 0rem;
    font-size: 40px;
    background-color: rgba(179, 179, 179, 0.6);
    z-index: 999;
}

footer a {
    color: rgb(240, 239, 239);
}

footer a:hover {
    text-shadow: 0.5px 0.5px rgb(224, 224, 224)
}

a:hover {
    text-shadow: 1px 1px rgb(0, 0, 0)
}

a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    padding: 20px;
}

a {
    transition: font-weight .2s;
    text-decoration: none;
    color: rgb(39, 39, 39);
    padding: 20px;
    font-weight: 500;
}

.titlu p {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: 30%;
    margin: auto;
    width: 100%;
    text-align: center;
    color: rgb(31, 31, 31);
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(179, 179, 179, 0.6);
}

.poza-1 {
    display: none;
}

.icon {
    display: none;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
    height: 50vh;
}

.mySlides img {
    height: 50vh;
    object-fit: cover;
    object-position: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width:599px) {
    .poza-1 {
        display: none;
    }
    .carusel {
        display: none;
    }
    .icon {
        display: block;
        position: fixed;
        width: 30px;
        height: 30px;
        z-index: 999;
        font: normal normal normal 14px/1 FontAwesome;
    }
    .titlu {
        position: relative;
        top: 2rem;
    }
    .meniu {
        overflow: hidden;
        background-color: rgba(39, 39, 39, 0.301);
        position: relative;
    }
    .meniu #myLinks {
        display: none;
        margin-top: 30px;
        width: 100%;
        height: 150px;
        font-size: 35px;
    }
    .meniu a.icon {
        display: block;
        position: absolute;
        right: 0.4rem;
        top: 0;
    }
    a {
        display: block;
        top: 0rem;
        margin: auto;
        padding: 0;
        text-align: left;
        padding-left: 0.4rem;
    }
    label {
        margin-left: 5px;
    }
    label[for] {
        font-size: 20px;
    }
    form {
        margin-right: 60px;
        margin-left: 60px;
    }
    input[type="text"],
    select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 5px;
    }
    input[type="number"],
    select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 5px;
    }
    select {
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 0px;
        margin: 0px;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 0px;
    }
    input[type="radio"],
    select {
        margin-left: 20px;
    }
    input[type="submit"],
    select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 5px;
    }
    input[type="submit"] {
        width: 60%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 4rem;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    footer {
        display: none;
    }
    .h1 {
        margin-top: 13rem;
    }
}

@media (min-width: 600px) and (max-width:800px) {
    .titlu {
        position: relative;
        top: -15%;
    }
    .poza-1 {
        display: block;
        background-image: url("centru.jpg");
        top: 0%;
        height: 35%;
        width: 100%;
    }
    .poza-1,
    .poza-2,
    .poza-3 {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carusel {
        display: none;
    }
    label {
        margin-left: 5px;
    }
    label[for] {
        font-size: 20px;
    }
    .carusel {
        display: none;
    }
    form {
        margin-right: 60px;
        margin-left: 60px;
    }
    input[type="text"],
    select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 5px;
    }
    input[type="number"],
    select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 5px;
    }
    input[type="date"],
    select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 5px;
    }
    select {
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 0px;
        margin: 0px;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 0px;
    }
    input[type="radio"],
    select {
        margin-left: 20px;
    }
    input[type="submit"],
    select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 5px;
    }
    input[type="submit"] {
        width: 30%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 15rem;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    footer {
        position: relative;
        bottom: 0px;
        margin-bottom: 0px;
    }
}