body,
html {
    display: block;
    height: 100%;
    margin: 0;
}

body {
    background-color: white;
    color: black;
}

.da {
    color: red;
}

footer {
    font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
    width: 100%;
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 0px;
    bottom: -4rem;
    text-align: center;
    color: rgb(231, 231, 231);
    font-weight: 400;
    font-size: 40px;
    padding: 20px;
    background-color: rgb(72, 61, 139, 0.8);
}

.meniu {
    font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
    position: fixed;
    top: 0%;
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 450;
    left: 0rem;
    font-size: 40px;
    background-color: rgba(179, 179, 179, 0.6);
    z-index: 999;
}

footer a {
    color: rgb(240, 239, 239);
}

footer a:hover {
    text-shadow: 0.5px 0.5px rgb(224, 224, 224)
}

a:hover {
    text-shadow: 1px 1px rgb(0, 0, 0)
}

a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    padding: 20px;
}

.titlu p {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: 30%;
    margin: auto;
    width: 100%;
    text-align: center;
    color: rgb(31, 31, 31);
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(179, 179, 179, 0.6);
}

.dark-mode {
    background-color: rgb(51, 49, 58);
    color: rgb(212, 212, 212);
}

.text {
    padding-left: 1.1rem;
    font-family: "Helvetica", Arial, sans-serif;
    margin: auto;
    font-size: 22px;
    position: absolute;
    text-align: justify;
}

.poza-1 {
    display: none;
}

.icon {
    display: none;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
    height: 50vh;
}

.mySlides img {
    height: 50vh;
    object-fit: cover;
    object-position: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width:599px) {
    .poza-1 {
        display: none;
    }
    .carusel {
        display: none;
    }
    .icon {
        display: block;
        position: fixed;
        width: 30px;
        height: 30px;
        z-index: 999;
        font: normal normal normal 14px/1 FontAwesome;
    }
    .meniu {
        overflow: hidden;
        background-color: rgba(39, 39, 39, 0.301);
        position: relative;
    }
    .meniu #myLinks {
        display: none;
        margin-top: 30px;
        width: 100%;
        height: 150px;
        font-size: 35px;
    }
    .meniu a.icon {
        display: block;
        position: absolute;
        right: 0.4rem;
        top: 0;
    }
    a {
        display: block;
        top: 0rem;
        margin: auto;
        padding: 0;
        text-align: left;
        padding-left: 0.4rem;
    }
    .text {
        padding-left: 1rem;
        padding-top: 6rem;
    }
    footer {
        display: none;
    }
    .titlu {
        position: relative;
        top: 2rem;
    }
}

@media (min-width: 600px) and (max-width:800px) {
    .titlu {
        position: relative;
        top: -25%;
    }
    .poza-1 {
        display: block;
        background-image: url("negru.jpg");
        top: 0%;
        height: 35%;
        width: 100%;
        margin-bottom: 1rem;
    }
    .poza-1,
    .poza-2,
    .poza-3 {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carusel {
        display: none;
    }
    footer {
        position: relative;
        bottom: 0px;
        margin-bottom: 0px;
    }
}

div.gallery {
    border: 1px solid #ccc;
    border-radius: 10px;
}

div.gallery:hover {
    border: 1px solid #777;
    border-radius: 10px;
}

div.gallery:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    margin-left: -1.25rem;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

div.desc {
    text-align: center;
    font-family: "Helvetica", Arial, sans-serif;
    margin: auto;
    font-size: 22px;
}

* {
    box-sizing: border-box;
}

.responsive {
    margin-top: 7rem;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media (min-width: 600px) and (max-width:800px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
        margin-top: 5rem;
        margin-bottom: -2rem;
    }
    img {
        margin-left: -1.27rem;
    }
}

@media only screen and (max-width: 599px) {
    .responsive {
        margin-top: -1rem;
        width: 100%;
    }
    .text {
        margin-top: 5rem;
    }
    .spatiu {
        padding: 9rem;
    }
    img {
        margin-left: -0.2rem;
    }
    .desc {
        margin-top: -1rem;
    }
    .spatiu2 {
        margin-bottom: 10rem;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 801px) and (max-width:903px) {
    div.desc {
        font-size: 19px;
    }
}