body,
html {
    display: block;
    height: 100%;
    margin: 0;
}

.titlu {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center;
    color: rgb(231, 231, 231);
    font-weight: bold;
    font-size: 50px;
    background-color: rgb(134, 134, 134, 0.4);
}

navbar {
    font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 53%;
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(231, 231, 231);
    font-weight: 400;
    left: 0;
    font-size: 40px;
    background-color: rgb(134, 134, 134, 0.4);
}

.poza-1 {
    background-image: url("negru.jpg");
    height: 100%;
    width: 100%;
}

a:hover {
    font-weight: 550;
}

a {
    text-decoration: none;
    color: white;
    padding: 0.4rem;
}

.poza-1,
.poza-2,
.poza-3 {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:599px) {
    /* For mobile phones: */
    a {
        display: block;
    }
}